.input {
  display: flex;
  padding: 10px 16px;
  padding-left: 40px;
  background-color: $white;
  border-radius: 100px;
  max-width: 230px;
  justify-content: center;
  position: relative;
  &__input {
    margin-left: 8px;
    width: 100%;
    border: none;
    outline: none;
  }
  &__icon {
    color: $primary;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
  }
}
