.layout {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding: 72px 0px;
  &__container {
    width: 1024px;
    height: 100%;
    background-color: $backgroundLight;
    border-radius: 5px;
  }
}
