.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 72px 0px;

  &__container {
    width: 1024px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: $backgroundLight;
    border-radius: 5px;
  }
}
