@import "./Actions/Actions.scss";
@import "./Social/Social.scss";
@import "./Preview/Preview.scss";

footer {
  width: 100%;
  background-color: $lightGray;
  height: 104px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.player {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
